<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Opengraph meta inspired by walterfranchetti http://frnwtr.com/adding-opengraph-to-ghost/ }}
    {{{block "meta"}}}

    {{! Styles'n'Scripts }}
    <link href="https://fonts.googleapis.com/css?family=Cardo|PT+Serif:700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header class="author-profile">
        <div class="inner">
            {{#if @blog.logo}}
            <figure class="author-image">
                <div class="img" style="background-image: url({{@blog.logo}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
            {{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="author-bio">{{@blog.description}}</h2>
            <ul class="author-meta">
                <li><i class="icon-globe"></i>Cluj Napoca, Romania</li>
                <li><i class="icon-twitter" aria-hidden="true"></i><a href="{{twitter_url @blog.twitter}}" target="_blank">@razvanmuntian</a></li>
                <li><i class="icon-code"></i><a href="https://muntianrazvan.github.io" target="_blank">muntianrazvan.github.io</a></li>
            </ul>

            {{#if @blog.navigation}}
                {{navigation}}
            {{/if}}
        </div>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
             <section class="copyright">All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
             <section class="subscribe">
                 <a class="icon-rss" href="{{@blog.url}}/rss/" target="_blank"></a>
                 <a class="icon-twitter" href="{{twitter_url @blog.twitter}}" target="_blank"></a>
                 <a class="icon-github" href="https://github.com/muntianrazvan" target="_blank"></a>
                 <a class="icon-link" href="https://muntianrazvan.github.io" target="_blank"></a>
             </section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
